.bg-disetujui {
    background-color: #b49160 !important;
    color: #000 !important;
}

.bg-ttd {
    background-color: burlywood !important;
    color: #000 !important;
}

.bg-menunggu {
    background-color: wheat !important;
    color: #000 !important;
}


